@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

$white: #FBF9FE;
$gray: #AFABB6;
$purple: #7450AC;

body {
    background: var(--base-gray-600, #0C0C0D);
    color: $white;
    font-family: Inter;
}

.container {
    max-width: 1000px;
    min-width: 393px;
    margin: 0 auto;
    margin-top: 88px;
}

.app-name-header {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 32px;
}

input {
    outline: none;
    border: 2px solid #252529;
    background-color: #0C0C0D;
    height: 60px;
    color: $white;
    padding: 12px;
    border-radius: 12px;
    font-size: 22px;
    line-height: 16px;
    letter-spacing: 0.42px;
}

.input-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h5 {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: $gray;
        margin-bottom: 8px;
    }
    
    .count-dropdown {
        width: 180px;
        input {
            width: 100px;
            text-align: center;
            border-radius: 12px 0px 0px 12px;
            border-right: 0px;
        }
        .section-select {
            width: 80px;
            height: 60px;
            border-radius: 0px 12px 12px 0px;
            border: 2px solid #252529;
            border-left: none;
            outline: none;
            margin-bottom: 0;
            background-color: #17171A;
            color: $white;
            padding: 10px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            color: $gray;
        }
    }
    .count {
        display: flex;
    }
}

.input {
    width: 60%;
    input {
        width: 100%;
    }
}
.add-product-button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 32px;
    background-color: $purple;
    color: $white;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    &:hover {
        background-color: darken($purple, 3%);
    }
    &:active {
        background-color: darken($purple, 5%);
    }
}

.task-list {
    width: 100%;
    margin-top: 40px;
}



.task {
    margin-bottom: 12px;
    padding: 16px;
    background-color: #17171A;
    border-radius: 8px;
    border: 1px solid var(--base-gray-300, #252529);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    .task-content-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 95%;

        .checkbox {
            width: 20px;
            height: 20px;
            background-color: #17171A;
            border: 2px solid $purple;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
        .checked {
            border: 2px solid #17171A;
            background-image: url('./assets//images/checked.svg');
        }

        .task-content-left-text {
            margin-left: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-width: 100%;
            overflow: hidden;
            h1 {
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                margin-bottom: 2px;
            }
            h2 {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                color: $gray;
            }
        }
    }
    .task-content-right {
        margin-right: 10px;
        width: 20px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        .settings {
            img {
                width: 36px;
                height: 36px;
            }
        }
    }

}

.task-complited {
    background-color: #0f0f11;
    h1 {
        text-decoration: line-through;
        color: $gray;
    }
    h2 {
        text-decoration: line-through;
    }
}